:root {
  --main-bg-color: #2f303a;
  --main-text-color: #757575;
  --main-accent-color: #2196f3;
  --main-light-color: #ffffff;
  --bg-light-color: #f5f4fa;
  --primary-letter-spacing: 0.06em;
  --primary-line-height: 1.14;
  --primary--font-weight: 700;
  --secondary--font-weight: 500;
  --transition-time: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #212121;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
}

.icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  text-align: center;
  font-weight: var(--primary--font-weight);
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.features__list, .service__list, .team__list, .clients__list {
  display: flex;
  flex-wrap: wrap;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-left: 93px;
  font-weight: var(--secondary--font-weight);
  line-height: var(--primary-line-height);
  letter-spacing: 0.02em;
}

.menu__item {
  margin-right: 50px;
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover, .menu__item:focus {
  color: var(--main-accent-color);
}

.menu__item--current {
  position: relative;
  color: var(--main-accent-color);
}

.menu__item--current::after {
  position: absolute;
  bottom: -32px;
  content: '';
  display: block;
  background-color: var(--main-accent-color);
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.header__contact {
  display: flex;
  margin-left: auto;
}

.contact__item {
  margin-left: 50px;
}

.contact__item:first-child {
  margin-left: 0;
}

.contact__icon {
  fill: var(--main-text-color);
  margin-right: 10px;
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: var(--main-accent-color);
}

.contact {
  font-weight: var(--secondary--font-weight);
  line-height: var(--primary-line-height);
}

.contact__link {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.contact__link:hover, .contact__link:focus {
  color: var(--main-accent-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: var(--primary--font-weight);
  font-size: 26px;
  line-height: 1.19;
}

.logo__color {
  color: var(--main-accent-color);
}

.footer__logo {
  color: var(--main-light-color);
}

.banner {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img.jpg);
  background-repeat: no-repeat;
  background-position: top, left;
}

.banner__title {
  max-width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: var(--primary-letter-spacing);
  text-transform: uppercase;
  color: var(--main-light-color);
}

.banner__button {
  margin-top: 30px;
  padding: 10px 32px;
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: var(--primary--font-weight);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--main-light-color);
  background-color: var(--main-accent-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.features__list {
  margin-left: -30px;
  margin-top: -30px;
}

.features__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.features__icon-bg {
  background-color: var(--bg-light-color);
  margin-bottom: 30px;
  padding: 25px 100px;
}

.features__title {
  font-weight: var(--primary--font-weight);
  line-height: var(--primary-line-height);
  text-transform: uppercase;
  padding-bottom: 10px;
}

.features__text {
  color: var(--main-text-color);
}

.service__list {
  margin-left: -30px;
  margin-top: -50px;
}

.service__item {
  position: relative;
  margin-left: 30px;
  margin-top: 50px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.service__image {
  display: block;
}

.service__title-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  color: var(--main-light-color);
  text-align: center;
  padding: 27px 0;
  text-transform: uppercase;
}

.team {
  background-color: var(--bg-light-color);
}

.team__list {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-left: -30px;
  margin-top: -50px;
}

.team__item {
  background-color: var(--main-light-color);
  margin-left: 30px;
  margin-top: 50px;
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__member {
  font-weight: var(--secondary--font-weight);
  padding-bottom: 10px;
  padding-top: 30px;
}

.team__member-position {
  color: var(--main-text-color);
  padding-bottom: 30px;
}

.social-icons {
  display: inline-flex;
  padding-bottom: 30px;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--main-accent-color);
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--main-light-color);
}

.clients__list {
  margin-left: -30px;
  margin-top: -50px;
}

.clients__item {
  margin-left: 30px;
  margin-top: 50px;
  flex-basis: calc((100% - 6 * 30px) / 6);
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--main-accent-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--main-accent-color);
}

.footer {
  background-color: var(--main-bg-color);
  height: 252px;
  padding-top: 60px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__block {
  flex-basis: calc((50% - 45px) / 2);
}

.footer__block:last-child {
  flex-basis: calc(50% - 15px);
}

.contact__link--indent {
  margin-bottom: 9px;
}

.footer__address {
  font-style: normal;
  padding-top: 20px;
}

.footer__icon {
  fill: var(--main-light-color);
}

.footer__location {
  color: var(--main-light-color);
  padding-bottom: 9px;
}

.footer__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.contact-form {
  display: flex;
}

.contact-form__mail {
  margin-right: 12px;
}

.contact-form__field {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: var(--main-light-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  transition-property: border;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.contact-form__field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.contact-form__field:-webkit-autofill, .contact-form__field:-webkit-autofill:hover, .contact-form__field:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--main-light-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--main-bg-color) inset;
}

.footer__button {
  padding: 10px 28px 10px 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__icon--indent {
  margin-left: 10px;
}

.is-hidden {
  visibility: inherit;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  background-color: var(--main-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-duration: var(--transition-time);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-light-color);
  transition-property: fill;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.modal__btn-close:hover .modal__icon,
.modal__btn-close:focus .modal__icon {
  fill: var(--main-accent-color);
}

.modal__icon,
.form__icon {
  fill: #000000;
}

.is-hidden .modal {
  transform: scale(0);
}

.modal__title {
  font-weight: var(--primary--font-weight);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.form__label {
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.form__field {
  width: 100%;
  height: 40px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.form__field:-webkit-autofill, .form__field:-webkit-autofill:hover, .form__field:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px var(--main-light-color) inset;
}

.form__field:focus,
.contact-form__field:focus,
.form__message:focus {
  outline: none;
  border: 1px solid var(--main-accent-color);
}

.form__message {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.form__message::placeholder {
  font-size: 14px;
  line-height: var(--primary-line-height);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form__field:focus + .form__icon {
  fill: var(--main-accent-color);
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
}

.checkbox__icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-top: 25px;
  margin-right: 8.36px;
}

.checkbox:checked + .checkbox__icon-check {
  background-color: var(--main-accent-color);
  background-image: url(../images/icon/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--main-accent-color);
}

.modal__button {
  position: relative;
  padding: 10px 55px;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__button {
  font-weight: var(--secondary--font-weight);
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--bg-light-color);
  border-radius: 4px;
  border: none;
  margin-right: 8px;
  min-width: 73px;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.filter__button:hover, .filter__button:focus {
  background-color: var(--main-accent-color);
  color: var(--main-light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.catalog__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
  transition-property: box-shadow;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.catalog__item:hover, .catalog__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.catalog__images {
  display: block;
  max-width: 100%;
  height: auto;
}

.catalog__border {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--main-light-color);
}

.catalog__title {
  font-weight: var(--primary--font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: var(--primary-letter-spacing);
  padding-top: 20px;
  padding-bottom: 4px;
}

.catalog__filter {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
  padding-bottom: 20px;
}

.catalog__box {
  position: relative;
  overflow: hidden;
}

.catalog__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  color: var(--bg-light-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition-property: opacity, transform;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.catalog__item:hover .catalog__overlay,
.catalog__item:focus .catalog__overlay {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */