:root {
  --main-bg-color: #2f303a;
  --main-text-color: #757575;
  --main-accent-color: #2196f3;
  --main-light-color: #ffffff;
  --bg-light-color: #f5f4fa;
  --primary-letter-spacing: 0.06em;
  --primary-line-height: 1.14;
  --primary--font-weight: 700;
  --secondary--font-weight: 500;
  --transition-time: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #212121;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
}

.icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  text-align: center;
  font-weight: var(--primary--font-weight);
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

img {
  display: block;
  max-width: 100%;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767.98px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  font-weight: var(--secondary--font-weight);
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    margin-left: 93px;
    font-size: 14px;
    line-height: var(--primary-line-height);
  }
}

.menu__item {
  margin-bottom: 32px;
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover, .menu__item:focus {
  color: var(--main-accent-color);
}

@media screen and (min-width: 768px) {
  .menu__item {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.menu__item--current {
  position: relative;
  color: var(--main-accent-color);
}

@media screen and (min-width: 768px) {
  .menu__item--current::after {
    position: absolute;
    bottom: -39px;
    content: '';
    display: block;
    background-color: var(--main-accent-color);
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .menu__item--current::after {
    bottom: -32px;
  }
}

.header__contact {
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .header__contact {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact {
    display: flex;
    align-items: baseline;
    margin-left: auto;
    flex-direction: row-reverse;
  }
}

.contact__item {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contact__item:first-child {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:first-child {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contact__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .contact__item:first-child a {
    font-weight: var(--secondary--font-weight);
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-accent-color);
  }
}

@media screen and (max-width: 767px) {
  .contact__item:last-child a {
    font-weight: var(--secondary--font-weight);
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

.contact__icon {
  fill: var(--main-text-color);
  margin-right: 10px;
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: var(--main-accent-color);
}

@media screen and (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}

.contact {
  font-weight: var(--secondary--font-weight);
  line-height: var(--primary-line-height);
}

.contact__link {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.contact__link:hover, .contact__link:focus {
  color: var(--main-accent-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: var(--primary--font-weight);
  font-size: 26px;
  line-height: 1.19;
}

.logo__color {
  color: var(--main-accent-color);
}

.footer__logo {
  color: var(--main-light-color);
}

@media screen and (max-width: 767.98px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu.is-open {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 0 48px 40px;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 1;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 2px 3px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
  }
}

.mobile-menu__btn {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--main-light-color);
  z-index: 100;
}

.mobile-menu__btn .icon-close-mob {
  display: none;
}

.mobile-menu__btn.is-open .icon-close-mob {
  display: block;
}

.mobile-menu__btn.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .header-socials {
    display: flex;
    font-weight: var(--secondary--font-weight);
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--main-accent-color);
  }
}

@media screen and (min-width: 768px) {
  .header-socials {
    display: none;
  }
}

.header-socials__item:not(:first-child) {
  padding-left: 10px;
}

.header-socials__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.banner {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 1600px;
  height: 400px;
  margin: auto;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 767.98px) {
  .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/baner/header-mob.png);
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/baner/header-mob@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/baner/header-tablet.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/baner/header-tablet@2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/baner/header-desk.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/baner/header-desk@2x.png");
  }
}

.banner__title {
  max-width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: var(--primary-letter-spacing);
  text-transform: uppercase;
  color: var(--main-light-color);
}

@media screen and (min-width: 1200px) {
  .banner__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.banner__button {
  margin-top: 30px;
  padding: 10px 32px;
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: var(--primary--font-weight);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--main-light-color);
  background-color: var(--main-accent-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 767.98px) {
  .features__item {
    margin: 0 auto 30px auto;
  }
  .features__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.features__icon-bg {
  text-align: center;
  background-color: var(--bg-light-color);
  margin-bottom: 30px;
  padding: 25px 0;
}

.features__title {
  font-weight: var(--primary--font-weight);
  line-height: var(--primary-line-height);
  text-transform: uppercase;
  padding-bottom: 10px;
}

@media screen and (max-width: 767.98px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  color: var(--main-text-color);
}

@media screen and (max-width: 1199px) {
  .service {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .service__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -50px;
  }
}

@media screen and (min-width: 1200px) {
  .service__item {
    position: relative;
    margin-left: 30px;
    margin-top: 50px;
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .service__image {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .service__title-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    color: var(--main-light-color);
    text-align: center;
    padding: 27px 0;
    text-transform: uppercase;
  }
}

.team {
  background-color: var(--bg-light-color);
}

.team__list {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 767.98px) {
  .team__item {
    margin: 0 auto 30px auto;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.team__images {
  display: block;
}

.shadow {
  background-color: var(--main-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__member {
  font-weight: var(--secondary--font-weight);
  padding-bottom: 10px;
  padding-top: 30px;
}

.team__member-position {
  color: var(--main-text-color);
  padding-bottom: 30px;
}

.social-icons {
  display: inline-flex;
  padding-bottom: 30px;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--main-accent-color);
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--main-light-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients__item {
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  .clients__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--main-accent-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--main-accent-color);
}

.footer {
  background-color: var(--main-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
    text-align: unset;
  }
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__block {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__block:last-child {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__block {
    flex-basis: calc((50% - 45px) / 2);
  }
  .footer__block:last-child {
    margin-top: 0;
    flex-basis: calc(50% - 15px);
  }
}

@media screen and (max-width: 1199px) {
  .contact__link--block {
    display: block;
    margin: auto;
  }
}

.contact__link--indent {
  margin-bottom: 9px;
}

.footer__address {
  font-style: normal;
  padding-top: 20px;
}

.footer__icon {
  fill: var(--main-light-color);
}

.footer__location {
  color: var(--main-light-color);
  padding-bottom: 9px;
}

.footer__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--main-light-color);
}

@media screen and (min-width: 1200px) {
  .contact-form {
    display: flex;
  }
}

.contact-form__mail {
  margin-right: 12px;
}

.contact-form__field {
  padding-left: 16px;
  width: 90%;
  height: 50px;
  margin-bottom: 20px;
  color: var(--main-light-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  transition-property: border;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

@media screen and (min-width: 768px) {
  .contact-form__field {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-form__field {
    width: 358px;
    margin-bottom: 0;
  }
}

.contact-form__field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.contact-form__field:-webkit-autofill, .contact-form__field:-webkit-autofill:hover, .contact-form__field:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--main-light-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--main-bg-color) inset;
}

.footer__button {
  padding: 10px 28px 10px 29px;
}

@media screen and (min-width: 1200px) {
  .footer__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer__icon--indent {
  margin-left: 10px;
  margin-bottom: -5px;
}

.is-hidden {
  visibility: inherit;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 150;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  width: 320px;
  height: 639px;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  background-color: var(--main-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-duration: var(--transition-time);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-light-color);
  transition-property: fill;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.modal__btn-close:hover .modal__icon,
.modal__btn-close:focus .modal__icon {
  fill: var(--main-accent-color);
}

.modal__icon,
.form__icon {
  fill: #000000;
}

.is-hidden .modal {
  transform: scale(0);
}

.modal__title {
  font-weight: var(--primary--font-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.form__label {
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.form__field {
  width: 100%;
  height: 40px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.form__field:-webkit-autofill, .form__field:-webkit-autofill:hover, .form__field:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px var(--main-light-color) inset;
}

.form__field:focus,
.contact-form__field:focus,
.form__message:focus {
  outline: none;
  border: 1px solid var(--main-accent-color);
}

.form__message {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.form__message::placeholder {
  font-size: 14px;
  line-height: var(--primary-line-height);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form__field:focus + .form__icon {
  fill: var(--main-accent-color);
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
}

.checkbox__icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-top: 25px;
  margin-right: 8.36px;
}

.checkbox:checked + .checkbox__icon-check {
  background-color: var(--main-accent-color);
  background-image: url(../images/icon/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--main-accent-color);
}

.checkbox__text {
  font-size: 12px;
  line-height: 1.16;
  margin-left: -9px;
}

@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__text--accent {
  color: var(--main-accent-color);
  text-decoration: underline;
}

.modal__button {
  position: relative;
  padding: 10px 55px;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 798.98px) {
  .filter__item {
    margin-bottom: 15px;
  }
  .filter__item:nth-child(4), .filter__item:nth-child(5) {
    margin-bottom: 0;
  }
}

.filter__button {
  font-weight: var(--secondary--font-weight);
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--bg-light-color);
  border-radius: 4px;
  border: none;
  margin-right: 8px;
  min-width: 73px;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.filter__button:hover, .filter__button:focus {
  background-color: var(--main-accent-color);
  color: var(--main-light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .catalog {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.catalog__item {
  margin-bottom: 30px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background-color: var(--main-light-color);
  transition-property: box-shadow;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.catalog__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .catalog__item {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .catalog__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.catalog__item:hover, .catalog__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.catalog__images {
  display: block;
  max-width: 100%;
}

.catalog__indent {
  padding-left: 24px;
  padding-right: 24px;
}

.catalog__title {
  font-weight: var(--primary--font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: var(--primary-letter-spacing);
  padding-top: 20px;
  padding-bottom: 4px;
}

.catalog__filter {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
  padding-bottom: 20px;
}

.catalog__box {
  position: relative;
  overflow: hidden;
}

.catalog__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  color: var(--bg-light-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(101%);
  transition-property: opacity, transform;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--timing-function);
}

.catalog__item:hover .catalog__overlay,
.catalog__item:focus .catalog__overlay {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */