.logo {
  font-family: Raleway, sans-serif;
  font-weight: var(--primary--font-weight);
  font-size: 26px;
  line-height: 1.19;
}
.logo__color {
  color: var(--main-accent-color);
}
.footer__logo {
  color: var(--main-light-color);
}
