:root {
  --main-bg-color: #2f303a;
  --main-text-color: #757575;
  --main-accent-color: #2196f3;
  --main-light-color: #ffffff;
  --bg-light-color: #f5f4fa;

  --primary-letter-spacing: 0.06em;
  --primary-line-height: 1.14;
  --primary--font-weight: 700;
  --secondary--font-weight: 500;
  --transition-time: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
